{% extends 'blog/base.html' %}
{% block content %}
<article>
  <h1>{{ object.title }}</h1>
  <p>By {{ object.author }} on {{ object.date_posted|date:"F d, Y" }}</p>
  <div>{{ object.content|linebreaks }}</div>

  <p><strong>Tags:</strong>
    {% for tag in object.tags.all %}
      <a href="{% url 'posts-by-tag' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
    {% empty %}
      No tags.
    {% endfor %}
  </p>

  {% if user == object.author %}
    <a href="{% url 'post-update' object.pk %}" class="btn btn-secondary">Edit</a>
    <a href="{% url 'post-delete' object.pk %}" class="btn btn-danger">Delete</a>
  {% endif %}
</article>

<hr>
<h3>Comments</h3>
{% for comment in object.comment_set.all %}
  <p><strong>{{ comment.author }}</strong>: {{ comment.content }}</p>
{% empty %}
  <p>No comments yet.</p>
{% endfor %}

{% if user.is_authenticated %}
  <a href="{% url 'comment-create' object.pk %}" class="btn btn-primary">Add Comment</a>
{% else %}
  <p><a href="{% url 'login' %}">Login</a> to add a comment.</p>
{% endif %}
{% endblock %}
