{% extends "blog/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}
{% block content %}
  <h2>Profile</h2>

  <div>
    {% if user.profile.image %}
      <img src="{{ user.profile.image.url }}" alt="profile image" style="max-width:150px">
    {% endif %}
  </div>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <legend>User info</legend>
      {{ u_form.as_p }}
    </fieldset>

    <fieldset>
      <legend>Profile</legend>
      {{ p_form.as_p }}
    </fieldset>

    <button type="submit">Save changes</button>
  </form>
{% endblock %}
